.ecologietext{
    text-align:center;
    width:100%;
}
.typeeco{
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items:center;
    width:18%;
}
.typeeco h3{
    text-align:center;
}

@media screen and (max-width: 900px) {
    .ecologietext{
        width:90%;
    }
    .typeeco{
        width:100%;
    }
    .typeeco h3{
        font-size:1.2rem;
    }
}