.main{
    display:flex;
    padding: 0 50px;
    width:100%;
}
.contain{
    width:70%;
    border-right: 1px solid #eee;
    display:flex;
    padding: 50px 50px 50px 370px;
    flex-direction: column;
    align-items:center;
}


.title{
    font-size:2.9rem;
    padding:5px 0;
    line-height: 1em;
    width:100%;
    font-weight:normal;
}
.auteur{
    width:100%;
    padding:10px 0
}

.accompa{
    width:100%;
    padding:50px 0;
    color:#666;
}
.accompa2{
    color:#666;
    padding: 10px 25px;
}
.accompa span{
    font-style:italic;
}
.accompa2 span{
    font-style:italic;
}
.accompa2 a{
    color:blue;
    text-decoration:none;
}

.contenu{
    display:flex;
    padding-bottom:50px;
}
.contenu img{
    width: 30%;
}

.rs{
    display:flex;
    width:100%;
    background-color:black;
    color:white;
    justify-content:space-around;
    margin-top:50px;
}

.rs p{
    width:25%;
    padding:20px;
    text-align: center;
}

.rs p:hover{
    cursor:pointer;
    background-color: #c9c9c9;
}
.rs a{
    color:white;
    text-decoration:none;

}

.menu{
    width: 30%;
    padding: 50px 0 0 50px;
}
.menu h3{
    font-size:2rem;
    padding: 10px 0;
    font-weight:normal;
}
.menu ul{
    list-style: none;
    padding: 0;
    color:#666;
}
.menu ul li{
    padding: 10px 0;
    width:45%;
}
.menu a{
    text-decoration:none;
    color:#666;
}

.menu a:hover{
    color:#2ea3f2;
}
@media screen and (max-width:700px){
    .main{
        flex-direction: column;
        padding:20px 60px;
    }
    .auteur{;
        padding: 10px 0;
        text-align:center;
    }
    .title{
        font-size:2rem;
        text-align: center;
    }
    .contain{
        width:100%;
        padding:0;
        border: none;
    }
    .contain img{
        width:100%;
        height:auto;

    }
    .accompa{
        font-weight: normal;

    }
    .accompa2{
        padding:20px 0;
    }
    .contenu{
        flex-direction: column;
    }
    .menu{
        padding: 50px 0 0 0;
        width:100%;
    }
    .rs{
        display:none;
    }
    .menu ul li{
        width:100%;
    }
}